@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1 style="text-align: center"><big>THIS IS PRIVACY!!!</big></h1>
<p style="text-align: center"><img src="https://radioiskatel.ru/wp-content/uploads/2018/05/1757257731e988a0a3b4d56878c56251_1220_auto_1.jpg" width="800" height="400"></p>
